<div class="page_title">
    <h1>Getting Started</h1>
</div>

<div class="content">
    <div class="column_1">
        <div class="column_content">

            <div class="column_sub_content">
                <div class="column_form">

                    <div class="column_title">Your new store</div>
                    
                    <div class="column_text">
                        Your store with the subdomain <%= @company.retail_subdomain %> is being prepared. You will recieve and email when it has been created
                    </div>

                    <div class="column_title">Getting Started</div>

                    <div class="column_text">
                        <p>Before customers can purchase products from your store it first needs to be customised to reflect you company details, the payment gateway set up so you can receive payments and products added to your store.</p>
                        <p>The following guides provide the necessary information to allow you to get started</p>
                        <ul>
                            <li>Customising your store</li>
                            <li>Adding a Payment Method</li>
                            <li>Adding Products</li>                            
                        </ul>

                        <p>The following additional guides are also available</p>
                        <ul>
                            <li>Customising your store</li>
                            <li>Adding a Payment Method</li>
                            <li>Adding Products</li>                            
                        </ul>
                        
                        <p>If you would like any assistance in setting up your store please contact us.</p>

                    </div>                    
                    
                </div>
            </div>            
        </div>
    </div>
    <div class="column_2 column_2_blank"></div> 
    <div class="column_3 column_3_blank"></div> 

</div>