<div class="page_title">
    <h1>List of Companies</h1>
</div>


 <div class="table_content_with_title">
    <table>
      <thead>
        <tr>
          <th class="mob_cell" style="width:240px">Name</th>
          <th class="lrg_cell">Sub-domain</th>
          <th width="20px" class="row_button"><%= link_to "", new_user_registration_path, class: 'line_new_icon', title: "create new account" %></th>
        </tr>
      </thead>
    </table>
    <div class="table_container">
        <table>
          <tbody>
            <% @companies.each do |company| %>
              <tr>
                <td class="mob_cell" style="width:240px"><%= company.name %></td>
                <td class="lrg_cell"><%= company.subdomain %></td>
                <td width="20px" class="row_button"><%= link_to '', company_path(company), class: 'line_show_icon', title: "show company details" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
    </div>
</div>
