@import "table_headers";

$lrg_menu: 1300px;
$tab_lrg_menu: 940px;
$tab_sml_menu: 780px;
$mob_menu: 520px;

.company_name      {@include name}
.company_subdomain {@include name}
.company_domain    {display: table-cell; vertical-align: top;}
.company_plan {@include name

@media screen and (max-width: $lrg_menu) {

}

@media screen and (max-width: $tab_lrg_menu) {

}

@media screen and (max-width: $tab_sml_menu) {
  .company_plan    {display: none;}
}

@media screen and (max-width: $mob_menu) {
  .company_subdomain {display: none;}
  .company_domain    {display: none;}
}