<p>Hello <%= @resource.name %>!</p>

<p>We've changed how we store passwords at MyHQ, and as a result you need to reset your password. You can do this through the link below.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Resetting your password is necessary in order to log in in the future.</p>
