<!-- desktop & mob menu -->
<ul class="left_menu">
    <li><%= link_to "DASHBOARD", main_app.dashboards_path %></li> 
</ul>

<!-- mob menu select -->
<nav class="left_menu_mob_select">MENU</nav>

<ul class="left_menu_mob">
    <li><p class="mob_menu">DASHBOARD</p>
        <ul class="sub_menu_mob">
            <li><%= link_to "Select Project", main_app.dashboards_path %></li>
        </ul>
    </li>
</ul>