
<!-- desktop menu -->              
<nav class="lrg_menu">                    
    <div class='menu_container'>                                                                    
        <ul class="left_menu">                                                  
                <li><%= link_to "Dashboard", main_app.dashboards_path %></li>
                          
        </ul>                       
    </div>                      
</nav>

<!-- mob menu -->
<nav class="app_mob_menu">MENU</nav>

<nav class="lrg_menu_mob">                    
    <div class='menu_container_mob'>                                                                    
        <ul class="left_menu_mob">                                                  
                <li><%= link_to "DASHBOARD", main_app.dashboards_path %></li>                               
        </ul>                      
    </div>                      
</nav>


